
<div data-role="header">
	<h1>Keyhole Software</h1>
	<a href="#main" data-transition="slide" data-role="button" data-theme="d" data-icon="arrow-l" >Back</a>
</div><!-- /header -->

<div data-role="content">	
		
		 <H1>HTML5 Guitar Tuner Application</H1>
		 <p>
		  <label>Built by <a href="www.keyholesoftware.com">Keyhole Software</a> using HTML5 elements and java script libraries</label>
		 <p>
		 <label>Select a listed guitar tuning, HTML5 audio tags for each note in the tuning can be played</label>
		 
		
		
	</div><!-- /content -->