
<script src="libs/jquery-1.7.2.js"/> 
 <script>

   var img = null;
   var stringPlaying = -1;
 
	$(document).ready(function() {
		
	    img = new Image();
		img.src = "fret2.png";
		img.onload = fretImageLoaded;

	});
   
	
	   function fretImageLoaded() {
	    	

			var canvas = $("#canvas")[0];
			var ctx = canvas.getContext("2d");
		
			var ratio = 1.0;
			
			var imgWidth=img.width * ratio;
	        var imgHeight=img.height * ratio;
	         ctx.canvas.width= imgWidth;
	         ctx.canvas.height=imgHeight;
		     ctx.drawImage(img,0,0,imgWidth,imgHeight);
		
		   
		     ctx.font = "bold 24px Arial";
		    
		     
		     var notes = "<%=notes%>";
		     var list = notes.split(","); 
		     
		     var strings = [15,46,78,110,142,175];
		     
		     
		     for (i = 0;i < strings.length;i++) {
		    	 var x = strings[i]-9;
		    	 var y = 150 - 24;
		    	 ctx.fillStyle = "green";		    	
				 ctx.fillRect(x-5,y,27,30);
				 stringLabel(list[i].toUpperCase(),strings[i],"white",ctx);
				 //ctx.fillStyle = "red";
		    	 //ctx.fillText(list[i].toUpperCase(), strings[i]-9,150);
			 }
		     
		     
		     $("#canvas").click(function(e) {
	 	         var offsetX = e.pageX - $(this).position().left;
	 	         var offsetY = e.pageY - $(this).position().top;
	 	         
	 
	 	         for (i = 0;i < list.length;i=i+1) {  
	 	            var point = strings[i];   	
	 	        	if (offsetX >= point-5 && offsetX <= point + 20 ) {
	 	        		
	 	        		if (stringPlaying == i) {
	 	        		 stringLabel(list[i].toUpperCase(),strings[i],"white",ctx);		
	 	        		 stopPlay(stringPlaying);
	 	        		 stringPlaying = -1;
	 	        		} else {
	 	        			stringLabel(list[i].toUpperCase(),strings[i],"red",ctx);
	 	        			playString(i);
	 	        		 
	 	        	   }
	 	           }
	 	        }	
	 				
	 	     });
		     
			
	    } 
	     
	   
	   
  function stringLabel(s,loc,color,ctx) {  
		 var x = loc-9;
    	 ctx.fillStyle = color;		    			
    	 ctx.fillText(s.toUpperCase(), x,150);	  
  }	   
	   
	   
   function playString(s) {
	  
	   var id = "#audio"+s;
	   var a = $(id)[0];
	   a.play();
	   stringPlaying = s;
   }
   
   
   function stopPlay(s) {
		  
	   var id = "#audio"+s;
	   var a = $(id)[0];
	   a.pause();	   
   }
   
		
 
</script>

<style type="text/css">
#map{
width:100%;
height:100%;
}
</style>
 
<div data-role="header">
	<h1><%=description%></h1>
	<a id="back" href="#main" data-transition="slide" data-role="button"
		data-theme="d" data-icon="arrow-l">Back</a>
		
		
</div>
<!-- /header -->

<div style="background: black;width:100%;height:100%;overflow:hidden;" data-role="content">


<div style="text-align:center;width:100%;height:100%;overflow:hidden;">
	<canvas id="canvas" style="display:inline;" width="180" height="240"> 
	</canvas>

	

		<%  
		    list = notes.split(",");
		    for (i = 0;i < list.length;i=i+1)   
		    { 
		       audioFile = "audio/"+list[i]+"-"+i+".mp3";
		       audioId = "audio"+i;
		    %>
		
		
		
		<audio id="<%=audioId%>" loop="loop">
					<source src="<%=audioFile%>" type="audio/mp3" />
					Your browser does not support this audio format.
		</audio>
		
		
	
		<% } %> 

</div>


</div>







