.header-container {
    background: #00bfa5;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
}

.header-title {
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 20px;
    color: white;
}

.header-about {
	margin-right: 15px;
	margin-top: -5px;
	color: white;
}

.footer-container {
	background: #00bfa5;
	height: 40px;
	padding-bottom: 10px;
}

.footer-tag {
	fontsize: 12px;
	color: white;
	font-weight: bold;
	float: right;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-top: 8px;
}

.page-view {
	background: #e6e6e6;
}

.card-buttons {
	color: white;
	float: none;
	display: inline-block;
	margin-right: 15px;
}

.tuning-add {
	margin-top: -15px;
	margin-left: 15px;
	visibility: hidden;
}

.tuning-edit {
	visibility: hidden;
}

.tuning-delete {
	visibility: hidden;
}

.about-view {
	background: #e6e6e6;
	padding-bottom: 421px;
}

.about-body{
	margin-left: 15px;
	margin-bottom: -15px;
}

.about-label {
	font-size: 15px;
	margin-left: 5px;
}

.detail-view {
	background: #e6e6e6;
	padding-bottom: 550px;
}

.detail-back {
	margin-left: 15px;
}

.detail-image {
	position: absolute;
   	left: 40%;
   	top: 20%; 
}

.detail-note {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 25px;
	color: white;
}

.detail-inst {
	margin-left: 15px;
	margin-top: 50px;
	font-size: 20px;
	max-width:37%;
}

.note {
	color: white;
	cursor: pointer;
}

.first-note {
	position: absolute;
   	left: 4%;
   	top: 41%; 
}
.second-note {
	position: absolute;
   	left: 19%;
   	top: 41%;
}
.third-note {
	position: absolute;
   	left: 34%;
   	top: 41%;
}
.fourth-note {
	position: absolute;
   	left: 49%;
   	top: 41%;
}
.fifth-note {
	position: absolute;
   	left: 65%;
   	top: 41%;
}
.sixth-note {
	position: absolute;
   	left: 81%;
   	top: 41%;
}

.chord-button {
	position: absolute;
   	left: 43.5%;
   	top: 13%;
}